.mdc-text-field--filled:not(.mdc-text-field--disabled) {
   background-color: transparent;
}

.mat-mdc-form-field-infix {
  min-height: 33px;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 6px;
 padding-bottom: 6px;
}


.mat-mdc-form-field-bottom-align::before {
  display: inline !important;
}

.mdc-text-field{
  border: 1px solid gray !important;
  position:initial !important;
}

